fastapi
uvicorn[standard]
websockets

sqlalchemy
psycopg2-binary
alembic

python-dotenv
pydantic
pydantic-settings

langchain
langchain-core
langchain-groq

deepgram-sdk
elevenlabs

faker
loguru
httpx
python-multipart
orjson

black
isort
langgraph>=0.6.0